.Profile {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5rem;
}

.Profile-tag {
    display: flex;
    align-items: center;
}

.Profile-icon > img {
    aspect-ratio: 1;
    width: 100%;
}

.Profile-icon {
    background-color: white;
}

.Profile-user {
    display: flex;

    padding: 0 0.5rem;

    line-height: 1.25rem;

    align-items: center;
}

.Profile-username {
    text-decoration: underline;
}

.Profile-elo {
    font-size: 0.8rem;
}